ion-content{
  --background:#fff;
}
ion-card{
  --background:#fff;
  box-shadow: none;
  font-size: 30px

  
}
ion-item{
  font-size: 16px;
  --background:#fff;
  --background: rgb(0,0,0, 0.18);
  border-radius: 10px;
}
