ion-content{
  // --background: linear-gradient(to right, #81c2e0, #a4d6ce);
}
ion-card{
  --background:#fff;
  box-shadow: none;
  font-size: 20px
}
ion-card-header{
  font-size: 30px;
  color: #232323;


}
h1{
  margin: 20px;
}

.item{
  --background: linear-gradient(to right, #9dd4ee, #a4d6ce);
  margin:10px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px,
  

}
.user{
--background:#fff ;
color: #232323;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
border-radius: 20px;
}

