ion-card-header{
    font-size: 24px;
    color: #232323;
}
ion-card{
    box-shadow: none;
    font-size: 16px;
    --background: #fff 
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

  
}
ion-item{

    box-shadow: #8a8686;
    border-radius: 10px;
    margin: 8px 5px;
    color: #232323;
  }
  ion-content {
    --background: linear-gradient(to bottom, #9dd4ee, #a4d6ce);
    transition: all 0.5s ease-in-out;
  }