<ion-content>
  <ion-card>
    <ion-card-header>
      {{'HomePage.title' | translate}}
    </ion-card-header>
    <p>
      {{'HomePage.text' | translate}}
    </p>
  </ion-card>

  <swiper-container class="swiper" slideShadows="false" [autoplay]="false" [slidesPerView]="1.6"
    [slidesOffsetBefore]="5" [grabCursor]="true">
    <swiper-slide *ngFor="let home of data">

      <ion-card class="card-swiper" routerLink="{{home.url}}">
        <img src="../../../assets/travel/{{home.resim}}">
        <h4>{{ 'HomePage.cityKeys.' + home.sehir | translate }}</h4>
      </ion-card>
    </swiper-slide>
  </swiper-container>

</ion-content>