<ion-content>
  <ion-card>
    <ion-card-header>
      Travel Guide
    </ion-card-header>
    <p>
      Travel Guide, dünya genelindeki seyahat tutkunlarına kişiselleştirilmiş destinasyon önerileri sunarak
      unutulmaz keşifler vadeder.
    </p>
  </ion-card>

  <swiper-container class="swiper" slideShadows="false" [autoplay]="false" [slidesPerView]="1.6"
    [slidesOffsetBefore]="5" [grabCursor]="true">
    <swiper-slide *ngFor="let home of data">

      <ion-card class="card-swiper" routerLink="{{home.url}}">
        <img src="../../../assets/travel/{{home.resim}}">
        <h4>{{ home.sehir }}</h4>
      </ion-card>
    </swiper-slide>
  </swiper-container>

</ion-content>