
  ion-card{
    background: rgba(255, 255, 255, 0); 
    font-size: 16px;
     box-shadow: none;
     padding: 5px;
     line-height: 1.5;

  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .card{
   margin-left: 120px;
  color: #fff;
  

  }


  .card-swipper{
 background-color: #fff;
 text-align: center;   
 padding: 20px;
 border-radius: 10px;
 color: #232323;
  }


  img{
    height: 150px;
    border-radius: 10px;
  }
  
  .swiper{
    position: fixed;
    bottom: 0;
    width: 100%;
  
  
  }

  .city-name{
 font-size: 30px;

  }
  .city-description{
    font-size: medium;
  }