<ion-content
  style="--background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/travel/{{data?.backgroundImage}}') no-repeat center center / cover;">
  <ion-row>
    <ion-col size="10">
      <ion-buttons>
        <ion-back-button [defaultHref]="homeUrl" text="" color="light"></ion-back-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-card class="card">
    <div class="city-name">
      <p>{{'CityPage.cityKeys.' + data?.sehir | translate }} - {{'CityPage.countryKeys.'+data?.ulke | translate}}</p>
    </div>
    <div class="city-description">
      <p>{{'CityPage.descriptions.' + data?.aciklama | translate}}</p>
    </div>
  </ion-card>
  <swiper-container class="swiper" *ngIf="data" #swiper slideShadows="false" [autoplay]="false" [slidesPerView]="1.6"
    [slidesOffsetBefore]="5" [grabCursor]="true">
    <swiper-slide *ngFor="let place of data.gezilecekYerler">

      <ion-card class="card-swipper" routerLink="{{place.url}}">
        <img src="assets/travel/{{place.resim}}">
        <h4>{{'CityPage.placeKeys.' + place.ad | translate }}</h4>
      </ion-card>
    </swiper-slide>
  </swiper-container>

</ion-content>